div[id^="trail"] {
    background-image: url("graphics/ui/cusors/Normal\ Select.gif");
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    transform: translate(-37%, -37%);
    pointer-events: none;
    position: absolute;
    z-Index: 100;
    height: 32px;
    width: 32px;
}

.hidetrail:hover~[id^="trail"],
*:has(.hidetrail:hover)~[id^="trail"] {
    display: none;
}

::-webkit-scrollbar {
    width: 0.75vw;
}

::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
    display: block
}

::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:vertical:start:increment {
    display: none
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: #c0c0c0;
    background-image: url(graphics/ui/combo.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: rotateX(-90deg);
    transform: rotateY(-90deg);
    border: 0.15vw outset #fff;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-color: #c0c0c0;
    background-image: url(graphics/ui/comboup.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: rotateX(180deg);
    border: 0.15vw outset #ffffff;
}

::-webkit-scrollbar-track {
    background-image: url(graphics/ui/scrollbartrack.gif)
}

::-webkit-scrollbar-thumb:vertical {
    border: 0.15vw outset #fff;
    background-color: #c0c0c0
}

::-webkit-scrollbar-corner:vertical {
    background-color: #000
}

:-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block
}

::-webkit-scrollbar-button:horizontal:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment {
    display: none
}

::-webkit-scrollbar-button:horizontal:increment {
    background-color: #c0c0c0;
    background-image: url(graphics/ui/comboright.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: rotateX(-90deg);
    transform: rotateY(-90deg)
}

::-webkit-scrollbar-button:horizontal:decrement,
::-webkit-scrollbar-button:horizontal:increment {
    border: 0.15vw outset #fff;
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-color: #c0c0c0;
    background-image: url(graphics/ui/comboleft.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: rotateX(180deg);
}

::-webkit-scrollbar-track-piece {
    margin: 0.05vw;
}

::-webkit-scrollbar-thumb:horizontal {
    border: 0.15vw outset #fff;
    background-color: #c0c0c0
}

@font-face {
    font-family: 'picoCAD';
    src: url("graphics/fonts/picoCAD.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Road';
    src: url("graphics/fonts/Road.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    cursor: url("graphics/ui/cusors/Normal\ Select.gif"), default;
    height: 100%;
}

body {
    background-color: #000;
    background-image: url("graphics/backgrounds/space.gif");
    margin: 0%;
    overflow-x: hidden;
}

section {
    margin: auto;
    margin-bottom: 0;
    width: 60%;
}

header {
    width: 100%;
}

section>nav {
    width: 100%;
    padding: 0.3%;
    padding-left: 0%;
    display: flex;
    background: -webkit-linear-gradient(left, #08216b, #a5cef7);
    border: solid;
    border-color: #fff;
    border-bottom-color: #424242;
    border-right-color: #424242;
}

nav>a {
    height: 100%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    position: relative;
    bottom: 2%;
}

a>button {
    height: 100%;
}

section>div {
    width: 100%;
    margin: 2%;
    overflow: hidden;
    text-align: center;
}

div>h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.5vw;
    color: #fff;
}

div>h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.2vw;
    color: #fff;
}

div>p {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.2vw;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
}

p>a {
    display: inline !important;
    padding-left: 0% !important;
    color: #08216b;
}

div>a {
    cursor: url("graphics/ui/cusors/Link\ Select.gif"), pointer;
    font-size: 1.2vw;
}

a:hover~[id^="trail"],
*:has(a:hover)~[id^="trail"] {
    background-image: url("graphics/ui/cusors/Link\ Select.gif");
}

div>textarea {
    font-size: 0.75vw;
    resize: none;
}

div>iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

button {
    cursor: url("graphics/ui/cusors/Link\ Select.gif"), pointer;
    font-family: "MS Sans Serif", Tahoma, Verdana, sans-serif;
    font-size: 1vw;
    border: solid;
    border-width: 0.2vw;
    border-color: #fff;
    border-bottom-color: #424242;
    border-right-color: #424242;
    background: silver;
    color: #212529;
}

button:active {
    border-color: #424242;
    border-bottom-color: #fff;
    border-right-color: #fff;
}

button:hover~[id^="trail"],
*:has(button:hover)~[id^="trail"] {
    background-image: url("graphics/ui/cusors/Link\ Select.gif");
}

img {
    width: 100%;
}

hr {
    margin: auto;
    width: 98%;
    border-width: 0.15vw;
    border-bottom-color: #fff;
    border-left: none;
    border-right: none;
}

input {
    cursor: url("graphics/ui/cusors/Link\ Select.gif"), pointer;
}

input:hover~[id^="trail"],
*:has(input:hover)~[id^="trail"] {
    background-image: url("graphics/ui/cusors/Link\ Select.gif");
}

section>footer {
    width: 100%;
    margin: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    overflow: hidden;
    text-align: center;
    background-color: silver;
    margin: 2%;
    margin-bottom: 0%;
    border: solid;
    border-width: 0.2%;
    border-bottom-width: 0;
    border-right-color: #424242;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
    color: #212529;
}

footer>p {
    margin: auto;
    margin-bottom: 1%;
    font-size: 1vw;
    font-family: "MS Sans Serif";
}

.flex {
    display: flex;
    justify-content: space-around;
}

.window {
    border: solid;
    border-bottom-color: #424242;
    border-right-color: #424242;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
    color: #212529;
}

.window-header {
    border-bottom-style: solid;
    border-bottom-width: 0.1vw;
    border-bottom-color: #dee2e6;
    background: -webkit-linear-gradient(left, #08216b, #a5cef7);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
}

.window-header img {
    width: 1vw;
    float: left;
    margin-top: 2%;
    margin-right: 3%;
}

.window-header h2 {
    font-size: 1vw;
}

.window-header .maximize {
    background-color: #c0c0c0;
    background-image: url(graphics/ui/maximize.gif);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top 40% left 35%;
    width: 1.25vw;
    height: 1.25vw;
}

.window-header .close {

    background-color: #c0c0c0;
    background-image: url(graphics/ui/close.gif);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top 45% left 45%;
    width: 1.25vw;
    height: 1.25vw;
}

.window-header h2 {
    font-family: "MS Sans Serif";
}

.wintext {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1vw;
    font-family: "MS Sans Serif";
    color: #212529;
    ;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    margin: 0%;
    display: block;
    animation: scan 0.1s 0s infinite;
    pointer-events: none;
    background-image: url(graphics/ui/scanlines.png);
}

@keyframes scan {
    from {
        top: 0;
        ;
    }

    to {
        top: 1px;
    }
}

.container {
    position: relative;
    padding-top: 50%;
    overflow: hidden;
}

.guestbook {
    width: 100%;
    height: 100%;
}

.gifypet {
    width: 314px;
    height: 321px;
    border: none;
}

.navlink {
    width: 180px;
    height: 180px;
    border: none;
}

.bannerlink {
    width: 468px;
    height: 60px;
    border: none;
}

.halfwidth {
    width: 50%;
}

.nomargin {
    margin: 0%;
}

.dropdown {
    position: relative;
    width: 60%;
}

.dropdown-btn {
    height: 99%;
}

.dropdown-list {
    display: none;
    position: absolute;
    width: 40%;
    top: 90%;
    font-size: 1vw;
    font-family: "MS Sans Serif";
}

.dropdown-list.show {
    display: block;
}

.dropdown-list a {
    font-size: 1vw;
    font-family: "MS Sans Serif";
    width: 150%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
}

.dropdown-list a:hover {
    background-color: #08216b;
    color: #fff;
}

.dropdown-list h1 {
    font-size: 1vw;
    font-family: "MS Sans Serif";
    margin: 0%;
}

.dropdown-list p {
    font-size: 1vw;
    font-family: "MS Sans Serif";
    margin: 0%;
}

.dropdown-inner {
    width: 150%;
    left: 158%;
    top: 0;
    z-index: 1;
}

.dropdown .dropdown-list .dropdown:hover>.dropdown-list {
    display: block;
}

.nav-text {
    margin: auto;
    padding: 1%;
}

.nav-text h1 {
    color: #000;
}

.nav-text p {
    color: #000;
}

.clippy {
    display: inline;
    position: fixed;
    margin: 0%;
    width: 20%;
    bottom: 0;
    right: 0;
    margin-right: 0.5%;
}

.clippy-img {
    float: right;
    width: 40%;
    margin: 0%;
}

.clippy-box {
    position: relative;
    width: 95%;
    padding: 1%;
    padding-right: 1.4%;
    padding-bottom: 1.4%;
    font-size: 1vw;
    color: black;
    text-align: left;
    font-family: "MS Sans Serif", Tahoma, Verdana, sans-serif;
    background-color: #ffc;
    border-color: #000;
    border: solid;
    border-width: 1%;
    border-radius: .5em;
    margin: auto;
    float: right;
}

.clippy-box p {
    margin: 5%;
    font-size: 1vw;
    color: #000;
    text-align: left;
    font-family: "MS Sans Serif", Tahoma, Verdana, sans-serif;
}

.clippy-box:before,
.clippy-box:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

.clippy-box:before {
    left: auto;
    right: 49.5%;
    bottom: -26px;
    border-style: solid;
    border-width: 0 19px 25px 0;
    border-color: #000 #000 transparent transparent;
}

.clippy-box:after {
    left: auto;
    right: 50%;
    bottom: -20px;
    border-style: solid;
    border-width: 0 15px 20px 0;
    border-color: #ffc #ffc transparent transparent;
}

.clippy-button {
    width: 20%;
    background-color: #ffc;
    border: solid;
    border-width: 0.15vw;
    border-radius: .3em;
    border-color: #bcbcbc;
}

.clippy-button:active {
    width: 20%;
    background-color: #ffc;
    border: solid;
    border-width: 0.15vw;
    border-radius: .3em;
    border-color: #bcbcbc;
}

.hide {
    display: none;
}

.alt-header {
    background: linear-gradient(to right, #000080, #1034a6);
}

.links {
    width: 65%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
}

.links .link {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: "MS Sans Serif";
    font-size: 1vw;
    display: inline-flex;
    color: #888c8f;
    text-shadow: #fff 0.05vw 0.05vw;
    border: none;
}

.slider {
    cursor: url("graphics/ui/cusors/Link\ Select.gif"), pointer;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
    height: 0.5vw;
    appearance: none;
    border: solid;
    border-width: 0.2vw;
    border-color: #fff;
    border-left-color: #424242;
    border-top-color: #424242;
    background: #fff;
}

.slider:hover~[id^="trail"],
*:has(.slider:hover)~[id^="trail"] {
    background-image: url("graphics/ui/cusors/Link\ Select.gif");
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 0.75vw;
    height: 1.5vw;
    border: solid;
    border-bottom-color: #424242;
    border-right-color: #424242;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
}

.toolbar {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
}

.togglebtn {
    background: url(graphics/ui/mediaplayer/play.gif) no-repeat;
    background-size: 75%;
    background-position: top 40% left 40%;
    width: 1.5vw;
    height: 1.5vw;
}

.skip-buttons {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

.back {
    background: url(graphics/ui/mediaplayer/backskip.gif) no-repeat;
    background-color: #c0c0c0;
    background-size: 75%;
    background-position: top 40% left 40%;
    width: 1.5vw;
    height: 1.5vw;
}

.next {
    background: url(graphics/ui/mediaplayer/forwardskip.gif) no-repeat;
    background-color: #c0c0c0;
    background-size: 75%;
    background-position: top 40% left 40%;
    width: 1.5vw;
    height: 1.5vw;
}

.vertical-hr {
    width: 0%;
    border: solid;
    border-width: 0.15vw;
    border-color: #888c8f;
    border-right-color: #fff;
    border-top: none;
    border-bottom: none;
    align-self: stretch;
    margin-left: 2%;
    margin-right: 2%;
}

.time {
    position: relative;
    padding: 1%;
    border-style: solid;
    border-width: 0.15vw;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-left-color: #888c8f;
    border-top-color: #888c8f;
    font-size: 1vw;
    font-family: "MS Sans Serif";
    color: #212529;
    ;
}

.time::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: calc(100% - 0.2vw);
    height: calc(100% - 0.25vw);
    border-style: solid;
    border-width: 0.15vw;
    border-bottom-color: #dfe0e3;
    border-right-color: #dfe0e3;
    border-left-color: #050608;
    border-top-color: #050608;
}

.marquee {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    position: relative;
    width: 100%;
    height: 2vw;
    overflow: hidden;
}

.marquee-right {
    display: flex;
    width: 850%;
    position: absolute;
    left: 0;
    animation: track-right 35s linear infinite;
}

@keyframes track-right {
    0% {
        left: -425%;
    }

    100% {
        left: 0%;
    }
}

.marquee-left {
    display: flex;
    width: 850%;
    position: absolute;
    left: 0;
    animation: track-left 35s linear infinite;
}

@keyframes track-left {
    0% {
        left: 0%;
    }

    100% {
        left: -425%;
    }
}

.track {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.marquee img {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    width: 5.75vw;
    height: 2vw;
}

.graphics {
    overflow-y: scroll;
    height: 25vw;
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1%;
}

.graphics img {
    width: 31%;
}

.blinkie img {
    width: 47%;
}

.myspace {
    font-family: Verdana;
    font-size: 0.8vw;
    color: #000;
    text-align: start;
    margin-left: 3%;
}

.myspace-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.myspace-contact>a {
    width: 47%;
}

.myspace>a {
    cursor: url("graphics/ui/cusors/Link\ Select.gif"), pointer;
    font-weight: normal;
    color: #039;
    text-decoration: none;
}

.myspace>a:hover {
    font-weight: normal;
    color: #C00;
    text-decoration: underline;
}

.bumper {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    row-gap: 0.25vw;
    column-gap: 0.25vw;
    margin-bottom: 0.25vw;
}

.bumper>img {
    width: 24%;
}

.me {
    border: solid;
    border-width: 0.01vw;
    border-color: #424242;
}

.the {
    position: absolute;
    left: 16%;
    top: 35%;
    font-family: sans-serif;
    font-size: 4vw;
    color: #eef228;
}

.poll {
    position: absolute;
    left: 30%;
    top: 33%;
    width: 19%;
}

.toll {
    position: absolute;
    right: 16%;
    top: 29%;
    font-family: Road;
    font-size: 6vw;
}

.poll-box {
    width: 15vw;
    margin: auto;
    margin-bottom: 1vw;
    text-align: unset;
    font-size: 1vw;
    color:#FFFFFF;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.poll-box>div {
    flex-basis: 100%;
}

.poll-box .lable {
    float:left;
    text-align: left;
    margin-left: 5%;
}

.poll-box .input {
    float:left;
    margin-left: 5%;
    width: 0.75vw;
    height: 0.75vw;
    border-width: 0.01vw;
}

.submit-box {
    padding:1%;
    display: flex;
    justify-content: center;
    column-gap: 0.25vw;
}

.poll-box .submit {
    height: 1.25vw;
    width: 3vw;
    font-size: 0.75vw;
}

.pics {
    background-image: url("graphics/backgrounds/servers.gif");
    overflow-y: hidden;
}

.home {
    display: inline;
    position: fixed;
    margin: 0%;
    width: 15%;
    top: 0;
    left: 0;
}

.sidebar {
    background: silver;
    border-top: 0.15vw solid #fff;
    border-bottom: 0.15vw solid #424242;
    padding-bottom: 20%;
    width: 13%;
}

.tools {
    position: relative;
    top: -0.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool {
    border-width: 0.15vw;
    background: no-repeat;
    background-color: silver;
    background-size: 75%;
    background-position: top 45% left 45%;
    width: 1.5vw;
    height: 1.5vw;
}

.tool-options {
    width: 60%;
    height: 25%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
    border: 0.15vw solid #fff;
    border-top-color: #424242;
    border-left-color: #424242;
}

.outer-canvas {
    border: solid;
    border-width: 0.15vw;
    border-color: #424242;
    border-bottom-color: #fff;
    border-right-color: #fff;
    background-color: #808080;
    width: 87%;
}

.canvas {
    cursor: url("graphics/ui/cusors/Precision\ Select.gif"), crosshair;
    position: relative;
    background-color: #fff;
    margin: 1%;
    height: 95%;
    margin-right: 10%;
}

.canvas:hover~[id^="trail"],
*:has(.canvas:hover)~[id^="trail"] {
    background-image: url("graphics/ui/cusors/Precision\ Select.gif");
}


.handle {
    position: absolute;
    height: 0.1vw;
    width: 0.1vw;
    background-color: #fff;
    border: solid;
    border-width: 0.1vw;
    border-color: #424242;
    border-bottom: 0;
    border-right: 0
}

.bottombar {
    background: silver;
    border-top: 0.15vw solid #fff;
    margin-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.selection-box {
    position: relative;
    margin-right: 0.25%;
    border: 0.1vw solid #fff;
    border-top-color: #424242;
    border-left-color: #424242;
    width: 1.5vw;
    height: 1.5vw;
    background-image: url(graphics/ui/paint/checker.gif);
}

.selection {
    width: 0.5vw;
    height: 0.5vw;
    position: absolute;
    border: solid;
    border-width: 0.15vw;
    border-color: #fff;
    border-bottom-color: #424242;
    border-right-color: #424242;
}

.colour {
    border: 0.1vw solid #fff;
    border-top-color: #424242;
    border-left-color: #424242;
    width: 0.67vw;
    height: 0.67vw;
}

.stuatus {
    border: 0.15vw solid #fff;
    border-top-color: #424242;
    border-left-color: #424242;
}

.text {
    text-align: start;
    padding-left: 1%;
    font-family: "MS Sans Serif";
    font-size: 0.85vw;
    color: #000000;
}

.pics-window {
    height: 22vw;
    margin: 1%;
    background-color: #808080;
    padding: 1%;
    border: 0.2vw solid #fff;
    border-top-color: #424242;
    border-left-color: #424242;
    overflow-y: scroll;
}

.x {
    height: 11vw;
    display: flex;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: scroll;
}

.pics-window img {
    padding: 1%;
}

.dropdown-list .pico-dropdown {
    padding-left: 0%;
    font-family: picoCAD;
    text-align: left;
    color: #ff77a8;
    font-size: 1vw;
    margin-top: 0%;
}

.plus {
    background: url(graphics/ui/picoCAD/plus.gif) no-repeat;
    background-color: none;
    border: none;
    margin-left: 5%;
    background-size: 75%;
    background-position: top 40% left 35%;
    width: 1.25vw;
    height: 1.25vw;
}

.dropdown-list .pico-dropdown:hover {
    width: 98%;
    background-color: #ff77a8;
    color: #7e2553;
}

.blog {
    background-image: url("graphics/backgrounds/paper.gif");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;

}

.webring {
    margin: auto;
}

.webring>* {
    display: inline-block;
    width: 30%;
}

.theme_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 0%;
    display: block;
    pointer-events: none;
    background-size: cover; 
}

.theme_overlay.hallows {
    display: inline-block;
    background-image: url("graphics/themes/halloween/blood-drip.gif");
}

.theme_1.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/skeleton-wave.gif");
}

.theme_2.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/skeleton-creep.gif");
}

.theme_3.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/skeleton-hello.gif");
}

.theme_4.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/skeleton-dance.gif");
}

.theme_5.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/skeleton-hang.gif");
}

.theme_6.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/skeleton-run.gif");
}

.headingtop.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/headingtop.gif");
}

.headingbottom.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/headingbottom.gif");
}

.theme_title.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/spookyedition.gif");
}

.left.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/skeleton-dootleft.gif");
}

.right.hallows {
    display: inline-block;
    content:url("graphics/themes/halloween/skeleton-dootright.gif");
}

.theme_overlay.crimbo {
    display: inline-block;
    background-image: url("graphics/themes/crimbo/snow.gif");
}

.theme_1.crimbo {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/crimbo/santa-wave.gif");
}

.theme_2.crimbo {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/crimbo/christmasbike.gif");
}

.theme_3.crimbo {
    display: inline-block;
    width: 50%;
    content:url("graphics/themes/crimbo/christmastree.gif");
}

.theme_4.crimbo {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/crimbo/fireplace.gif");
}

.theme_5.crimbo {
    display: inline-block;
    content:url("graphics/themes/crimbo/reindeer.gif");
}

.theme_6.crimbo {
    display: inline-block;
    content:url("graphics/themes/crimbo/sneakingsanta.gif");
}


.headingtop.crimbo {
    display: inline-block;
    content:url("graphics/themes/crimbo/headingtop.gif");
}

.headingbottom.crimbo {
    display: inline-block;
    content:url("graphics/themes/crimbo/headingbottom.gif");
}

.theme_title.crimbo {
    display: inline-block;
    content:url("graphics/themes/crimbo/CrimboEdition.gif");
}

.left.crimbo {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/crimbo/santadancing-left.gif");
}

.right.crimbo {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/crimbo/santadancing-right.gif");
}

.theme_overlay.valentine {
    display: inline-block;
    background-image: url("graphics/themes/valentine/hearts.gif");
}

.theme_1.valentine {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/valentine/fairy.gif");
}

.theme_2.valentine {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/valentine/bubsvalgift.gif");
}

.theme_3.valentine {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/valentine/mickey.gif");
}

.theme_4.valentine {
    display: inline-block;
    width: 75%;
    content:url("graphics/themes/valentine/Valentinespin.gif");
}

.theme_5.valentine {
    display: inline-block;
    content:url("graphics/themes/valentine/dogvalentine.gif");
}

.theme_6.valentine {
    display: inline-block;
    content:url("graphics/themes/valentine/bear.gif");
}

.headingtop.valentine {
    display: inline-block;
    content:url("graphics/themes/valentine/headingtop.gif");
}

.headingbottom.valentine {
    display: inline-block;
    content:url("graphics/themes/valentine/headingbottom.gif");
}

.theme_title.valentine {
    display: inline-block;
    content:url("graphics/themes/valentine/ValentineEdition.gif");
}

.left.valentine {
    display: inline-block;
    width: 50%;
    content:url("graphics/themes/valentine/heart-spin.gif");
}

.right.valentine {
    display: inline-block;
    width: 50%;
    content:url("graphics/themes/valentine/heart-spin.gif");
}